In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
exchange_data = pd.read_csv('../dataset/exchange-rate-twi.csv')
exchange_data

     Month  Exchange Rate TWI
0        1              100.0
1        2               99.6
2        3               99.4
3        4               99.1
4        5               99.2
..     ...                ...
299    300               49.6
300    301               48.5
301    302               48.4
302    303               51.0
303    304               53.9

[304 rows x 2 columns]

In [7]:
train_len = 212
train = exchange_data[:train_len]
test = exchange_data[train_len:]
y_hat = test.copy()

In [8]:
# Naive method
y_hat['naive_forecast'] = train['Exchange Rate TWI'][train_len-1]

In [9]:
# Simple average method
y_hat['avg_forecast'] = train['Exchange Rate TWI'].mean()

In [10]:
y_hat

     Month  Exchange Rate TWI  naive_forecast  avg_forecast
212    213               52.5            52.0     88.325472
213    214               53.1            52.0     88.325472
214    215               53.8            52.0     88.325472
215    216               55.2            52.0     88.325472
216    217               58.9            52.0     88.325472
..     ...                ...             ...           ...
299    300               49.6            52.0     88.325472
300    301               48.5            52.0     88.325472
301    302               48.4            52.0     88.325472
302    303               51.0            52.0     88.325472
303    304               53.9            52.0     88.325472

[92 rows x 4 columns]

In [16]:
# RMSE and MAPE
from sklearn.metrics import mean_squared_error
rmse = np.round(np.sqrt(mean_squared_error(y_hat['Exchange Rate TWI'], y_hat['naive_forecast'])),2)
mape = np.round(np.mean(np.abs(y_hat['Exchange Rate TWI']-y_hat['naive_forecast'])/y_hat['Exchange Rate TWI'])*100,2)
results = pd.DataFrame({'Method':['Naive Method'], 'RMSE':rmse, 'MAPE':mape, 'Accuracy': 100-mape})
results

         Method  RMSE  MAPE  Accuracy
0  Naive Method  5.98  8.41     91.59

In [17]:
rmse = np.round(np.sqrt(mean_squared_error(y_hat['Exchange Rate TWI'],y_hat['avg_forecast'])),2)
mape = np.round(np.mean(np.abs(y_hat['Exchange Rate TWI']-y_hat['avg_forecast'])/y_hat['Exchange Rate TWI'])*100,2)
results = results.append({'Method': 'Simple Average', 'RMSE':rmse, 'MAPE':mape, 'Accuracy':100-mape}, ignore_index=True)
results

           Method   RMSE   MAPE  Accuracy
0    Naive Method   5.98   8.41     91.59
1  Simple Average  32.42  58.12     41.88